<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width">
        <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
        <link rel="stylesheet" href="{{ STATIC_URL }}/css/main.css">
        <link rel="shortcut icon" href="{{ STATIC_URL }}/favicon.png">
        <link href='http://fonts.googleapis.com/css?family=PT+Sans:400,700,400italic' rel='stylesheet' type='text/css'>

        <title>{% block title %}Title{% endblock %}</title>
    </head>
    <body>
        <div id="wrapper">
            <div id="tool_side">
                <p id="logo"><a href="{{ HOME_URL }}">Home</a></p>
                <div id="tool">
                    <div id="tool_table_container">
                        <div id="tool_table_wrap">
                            <table id="tool_table">
                                <thead>
                                    <tr id="tool_header">
                                        <th id="tool_header_a">Low</th>
                                        <th id="tool_header_b">High</th>
                                    </tr>
                                    <tr class="placeholder">
                                        <td colspan="2">&nbsp;</td>
                                    </tr>
                                </thead>
                                <tbody id="tool_tbody">
                                </tbody>
                            </table>
                        </div>
                        <div id="tool_overlay_a" class="tool_overlay"></div>
                        <div id="tool_overlay_b" class="tool_overlay"></div>
                    </div>
                    <div id="tool_options">
                        <p class="tool_options tool_options_text has_tooltip"
                           data-tooltip="The initial <b>Low</b> and <b>High</b> sensitivities are based on the <b>Base sensitivity</b> option value.
                           It should preferably be the sensitivity that allows you to do a 360&deg;
                           turn with a full swipe across the mousepad, but it's not a hard rule.
                           For example, if you're using a very high mouse sensor resolution (DPI) setting,
                           changing the <b>Base sensitivity</b> option value can allow you to narrow in on good sensitivities in less steps.">
                            <label for="tool_sens">Base sensitivity</label>
                            <input id="tool_sens"
                                   type="text">
                        </p>
                        <p class="tool_options tool_options_text has_tooltip"
                           data-tooltip="Choosing the <b>Low</b> sensitivity in the current step will divide it by the <b>Divisor</b> option value and set it as the new <b>Low</b> sensitivity for the next step,
                           and the new <b>High</b> sensitivity will be the average of the <b>Low</b> and <b>High</b> sensitivities of the current step.">
                            <label for="tool_down">Divisor</label>
                            <input id="tool_down"
                                   type="text">
                        </p>
                        <p class="tool_options tool_options_text has_tooltip"
                           data-tooltip="Choosing the <b>High</b> sensitivity in the current step will multiply it by the <b>Multiplier</b> option value and set it as the new <b>High</b> sensitivity for the next step,
                           and the new <b>Low</b> sensitivity will be the average of the <b>Low</b> and <b>High</b> sensitivities of the current step.">
                            <label for="tool_up">Multiplier</label>
                            <input id="tool_up"
                                   type="text">
                        </p>
                        <p class="tool_options tool_options_text has_tooltip"
                           data-tooltip="The <b>Divisor</b> and <b>Multiplier</b> option values will be progressively reduced based on the <b>Step adjustment</b>
                           option value and the number of steps taken.
                           The point is to make the search more accurate by making the steps progressively more narrow.
                           Setting the <b>Step adjustment</b> option value to 1 will disable it, and setting it closer to 0 will make the steps narrower.">
                            <label for="tool_adjust">Step adjustment</label>
                            <input id="tool_adjust"
                                   type="text">
                        </p>
                        <p class="tool_options tool_options_text has_tooltip"
                           data-tooltip="The <b>Switch key</b> option is used to set the key binding for switching between the two sensitivities
                           to be tested in the current step.
                           The first active sensitivity will always be from the left column, and the second will always be from the right.
                           There will be a console message telling which sensitivity is currently active.">
                            <label for="tool_switch">Switch key</label>
                            <input id="tool_switch"
                                   type="text">
                        </p>
                        <p class="tool_options tool_options_checkbox has_tooltip"
                           data-tooltip="If the <b>Auto copy</b> option is enabled, the console commands for
                           setting the sensitivities in-game will be copied to the clipboard automatically (Flash support required),
                           otherwise you will need to copy the commands by hand.">
                            <label for="tool_autocopy">Auto copy</label>
                            <input id="tool_autocopy"
                                   type="checkbox">
                        </p>
                        <p class="tool_options tool_options_checkbox has_tooltip"
                           data-tooltip="If the <b>Blinded test</b> option is enabled, the <b>Low</b> and <b>High</b>
                           sensitivity settings will be renamed to <b>A</b> and <b>B</b>, and their values will be hidden
                           and randomly reversed to try to make the testing more objective.">
                            <label for="tool_blinded">Blinded test</label>
                            <input id="tool_blinded"
                                   type="checkbox">
                        </p>
                        <button id="tool_start">Start</button>
                    </div>
                    <ul id="tool_controls">
                        <li id="tool_reset"><a>Reset</a></li>
                        <li id="tool_undo"><a>Undo</a></li>
                        <li id="tool_defaults"><a>Restore defaults</a></li>
                    </ul>
                </div>
            </div>
            <div id="content">
                <noscript>
                <p class="notice">
                    This tool requires JavaScript to work!
                </p>
                </noscript>
                {% block content %}
                Main content
                {% endblock %}
            </div>
        </div>

        {% block scripts %}
        <script>
            var _config = {
                staticUrl: '{{ STATIC_URL }}'
            };
        </script>
        <script src="//ajax.googleapis.com/ajax/libs/jquery/2.1.0/jquery.js"></script>
        <!--        <script src="//ajax.googleapis.com/ajax/libs/jquery/2.1.0/jquery.min.js"></script>-->
        <script>jQuery || document.write('<script src="{{ STATIC_URL }}/js/vendor/jquery-2.1.0.min.js"><\/script>');</script>
        <script src="{{ STATIC_URL }}/js/vendor/ZeroClipboard.min.js"></script>
        <script src="{{ STATIC_URL }}/js/main.js"></script>
        {% endblock %}
    </body>
</html>
